.twinkleStarts {
  /*background-color: "[theme:themePrimary, default:#0078d4]";*/
  background-color:#000;
  color: "[theme:white, default:#ffffff]";
  text-align: center;
  padding: 0.5rem;
}

.star{  
  display:inline-block;
  animation:twinklestars 3s infinite;

}

@keyframes twinklestars{
  0%{
    opacity:1;
    transform:rotate(0) scale(1);
  }
  30%{
    opacity:0.8 ;
    transform:rotate(45deg) scale(0.8);
  }
  60%{
    opacity:1;
    transform:rotate(270deg) scale(1);
  }
  80%{
     opacity:0.8;
    transform:rotate(180deg) sclae(0.8);
  }
  100%{
    opacity:1;
    transform:rotate(270deg) scale(1);
  }
}